@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
      format("truetype");
}

.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}
section {
  overflow: hidden;
  position: relative;
  background-image: url("https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}
.picTextContainer {
  padding: 1px;
  display: inline-block;
  position: absolute;
  top: 100px;
  font-family: "NanumBarunGothic", "맑은 고딕", HelveticaNeue, DroidSans,
    Sans-serif, Helvetica;
  text-align: right;
  color: white;
  width: 258px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.picText {
  letter-spacing: 12px;
}
.picText > h1 {
  font-size: 5em;
}
.picText > h1:first-child {
  font-size: 6em;
  letter-spacing: 15px;
}
.picText > h4 {
  font-size: 2.5em;
}
.picText2 {
  width: 500px;
}
.picText2 > p:first-child {
  font-size: 30px;
}
.picText2 > .pText2 {
  line-height: 1.5;
}
.picText-btn {
  margin-top: 20px;
  background-color: transparent;
  padding: 10px 25px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
  left: 500px;
  position: relative;
}
.picText-btn:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}
.first {
  height: 1000px;
}
.photo {
  position: absolute;
  top: 100px;
  right: 300px;
}

/* @keyframes slide {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 600px;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    left: 600px;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
} */
